html, body {
    margin: 0px;
    background-color:#1e90ff;
    color: white;
}


.titulo {
    text-align: center;
    background-color:color4 {color: #2c9eae;}
    color: white;
    padding: 8px;
    margin-top: 2px;
    font-size: 25px;
    font-family: serif,sans-serif,Arial, Helvetica, 'Times New Roman', Times;
    .color1 {color: #12181d;}
}

.carta {
    position: relative;
    width: 120px;
    height:170px;  
    margin:10px;
    
}

.jugador-carta{
    font-size: 20px;
    position: absolute;
    padding: 10px;
    margin-right: 45px;
    border:solid,1px;
    margin-left: -75px;
    
}

#computadora-cartas,#jugador-carta{
    height:180px;
    border:solid,1px;
}

#jugador-computadora{
    right: 10px;
    margin:10px;
    border:solid,2px;

}

.computadora-carta{
    margin-right:10px;
}

