

html,body{
    margin:0px;
    background-color: burlywood;
    color: lightblue;
}
.titulo{
    text-align: center;
    background-color:black;
    color: white;
    padding: 10px;
    font-size: 20px;
}


.carta{

    position:relative;
    width: 150px;
    height: 230px;
    left:100px;
    right:500px;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: -75px;
}

#jugador-carta{
    position: center;
    margin-top: 5px;
    padding: 10px;
    padding:5%;
   
}

.player-1{
    margin:auto;
    margin-right: 10px;


}

#computadora-cartas,#jugador-cartas{
height: 240px;
width: auto;
padding:10%,10px,10px
}

.computadora-cartas{
    padding-right: 10px;
}